@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>Заборавена лозинка?</h1>
</hgroup>
<div>
    <p>
        За промена на вашата лозинка проверете ја вашата електронска пошта.
    </p>
</div>
	
