@{
    ViewBag.Title = "Потврда за ресетирана лозинка";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Вашата лозинка е ресетирана. Одете на следниов @Html.ActionLink("линк за да се најавите.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
