@{
    ViewBag.Title = "Home Page";
}


<div class="container">
    <div class="jumbotron" style="background : url(../../Images/feit.jpg) no-repeat; background-size:100% 100%; padding-top: 15%; padding-bottom: 15%">
        <h1></h1>
        <p class="lead"></p>
        <p style = "position:relative; top:70px"><a href="http://www.feit.ukim.edu.mk/" class="btn btn-primary btn-lg">Дознајте повеќе &raquo;</a></p> 
    </div></div>

<div class="row">
    <div class="col-md-4">
        <h2>Студиски програми</h2>
        <p>
            Нови и стари студиски програми на прв циклус студии (додипломски) на ФЕИТ
        </p>
        <p><a class="btn btn-default" href="http://www.feit.ukim.edu.mk/fakultet/studii/i-tsiklus-dodiplomski">Дознајте повеќе &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Новости</h2>
        <p>
            Бидете во тек со случувањата и настаните на ФЕИТ
        </p>
        <p><a class="btn btn-default" href="http://www.feit.ukim.edu.mk/novosti">Дознајте повеќе &raquo;</a></p>
    </div>
</div>