@model EndToEnd.Models.ProfessorsCourse

@{
    ViewBag.Title = "Delete";
}


<h3>Дали сте сигурни дека сакате да го избришете овој предмет?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
       
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Избриши" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
