@model IEnumerable<EndToEnd.Models.Course_Professor>

@{
    ViewBag.Title = "Index";
}

<h3>Предмети кои ги предавате</h3>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
       
        <td>
            @Html.ActionLink("Внеси оцени", "Insert", new { id = item.Br }) |

            @Html.ActionLink("Избриши", "Delete", new { id = item.Br })
        </td>
    </tr>
}

</table>
